@font-face {
    font-family: 'Monoid';
    font-style: normal;
    font-weight: 400;
    src: local('Monoid HalfTight Retina'), local('Monoid-HalfTight-Retina'), url(fonts/Monoid-Retina-Halftight.ttf) format('truetype');
}
